@import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');

:root {
  --effect: hover 1s linear infinite;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Poppins', sans-serif;
}
body {
  display: flex;
  justify-content: center;
  width: 100%;
  height: 100%;
  overflow: none;
}
button {
  user-select: none;
  -webkit-user-select: none;
}
.button-container {
  position: absolute;
  bottom: 20px;
  display: flex;
  align-items: center;
  background-color: transparent;
  z-index: 10;
  height: 100px;
  width: 90%;
  flex-shrink: 0;
  overflow-x: scroll;
  overflow-y: hidden;
}

.button-container::-webkit-scrollbar {
  width: 6px;
  height: 8px;
  border-radius: 10px;
}

.button-container::-webkit-scrollbar-track {
  background: #ffffff;
  border-radius: 10px;
}

.button-container::-webkit-scrollbar-thumb {
  background-color: #8f54a0;
  border-radius: 10px;
}

.mode-button {
  text-transform: uppercase;
  position: relative;
  width: 120px;
  height: 40px;
  background-color: #000;
  display: flex;
  align-items: center;
  flex-shrink: 0;
  color: white;
  flex-direction: column;
  justify-content: center;
  border: none;
  padding: 12px;
  gap: 12px;
  border-radius: 8px;
  cursor: pointer;
  margin: 0 20px;
}
.mode-button::before {
  content: '';
  position: absolute;
  inset: 0;
  left: -4px;
  top: -1px;
  margin: auto;
  width: 128px;
  height: 48px;
  border-radius: 10px;
  background: linear-gradient(-45deg, #e81cff 0%, #40c9ff 100%);
  z-index: -10;
  pointer-events: none;
  transition: all 0.6s cubic-bezier(0.175, 0.885, 0.32, 1.275);
}

.mode-button::after {
  content: '';
  z-index: -1;
  position: absolute;
  inset: 0;
  background: linear-gradient(-45deg, #fc00ff 0%, #00dbde 100%);
  transform: translate3d(0, 0, 0) scale(0.95);
  filter: blur(20px);
}
.mode-button:hover::after {
  filter: blur(30px);
}

.mode-button:hover::before {
  transform: rotate(-180deg);
}

.mode-button:active::before {
  scale: 0.7;
}

.loading-screen {
  position: absolute;
  min-width: 100%;
  min-height: 100%;
  z-index: 100;
  background-color: black;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
.loading-title {
  display: flex;
  align-items: center;
  justify-content: center;
}
p {
  display: inline-block;
  text-transform: uppercase;
  text-align: center;
  font-size: 4em;
  font-family: arial;
  font-weight: 600;
  transform: scale(0.5);
  color: #121212;
  -webkit-text-stroke: 2px gray;
}

p:nth-child(1) {
  animation: var(--effect);
}

p:nth-child(2) {
  animation: var(--effect) 0.125s;
}

p:nth-child(3) {
  animation: var(--effect) 0.25s;
}

p:nth-child(4) {
  animation: var(--effect) 0.375s;
}

p:nth-child(5) {
  animation: var(--effect) 0.5s;
}

p:nth-child(6) {
  animation: var(--effect) 0.675s;
}

p:nth-child(7) {
  animation: var(--effect) 0.75s;
}

@keyframes hover {
  0% {
    transform: scale(0.5);
    color: #121212;
    -webkit-text-stroke: 2px gray;
  }

  20% {
    transform: scale(1);
    color: pink;
    -webkit-text-stroke: 3px red;
    filter: drop-shadow(0 0 1px black) drop-shadow(0 0 1px black)
      drop-shadow(0 0 3px red) drop-shadow(0 0 5px red) hue-rotate(10turn);
  }

  50% {
    transform: scale(0.5);
    color: #121212;
    -webkit-text-stroke: 2px gray;
  }
}

.continue {
  text-transform: uppercase;
  position: absolute;
  font-size: 20px;
  letter-spacing: 1px;
  bottom: 7%;
  right: 7%;
  width: 120px;
  height: 40px;
  background-color: #000;
  display: none;
  align-items: center;
  flex-shrink: 0;
  color: white;
  flex-direction: column;
  justify-content: center;
  border: none;
  padding: 12px;
  gap: 12px;
  border-radius: 8px;
  cursor: pointer;
  transition: all 0.15s ease-out;
}
.continue:hover {
  color: #8f54a0;
}

@media (max-width: 500px) {
  .continue {
    bottom: 4%;
  }
}
